.services {
    padding-top: 27px;
    padding-bottom: 87px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 591px;
    margin: 0 auto;
}

.services-item img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
        color: $primary-color;
        border: 2px solid ;
    object-fit: cover;
    padding: 4px;
    transition: transform 0.3s ease; 
}

.services-item img:hover {
    transform: scale(1.1);
}

.services-item p {
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    color: $primary-color;
    margin-top: 12px;
}
