body {
    font-family: $font-family-secondary;
    font-family: $font-family-primary;
    background: $secondary-color;
    color: $secondary-color;
}

h1 {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 66px;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(130deg, $secondary-color 0%, $secondary-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: $primary-color;
}

.column-title {
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 40px;
}

.column-text {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 26px;
}
